.ColorConvert {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
}

.ColorSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.Color {
  flex: 0 0 auto;
  width: 160px;
  height: 160px;
}

.ImageZone {
  position: relative;
  display: grid;
  place-content: center;
  align-self: stretch;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 12px;
  border-radius: 3px;
  overflow: hidden;
  min-height: 160px;
}

.Values {
  align-self: stretch;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.25em 1em;
  font-size: calc(12rem / 16);
  background: #fff;
  padding: 12px 20px;
  border-radius: 6px;
  margin: 0;
}

.Values dt {
  justify-self: end;
  font-family: var(--font-lora);
  font-style: italic;
}

.Values dd {
  font-family: var(--font-mono);
  justify-self: flex-start;
}

.Canvas {
  max-width: 100%;
  vertical-align: top;
}

.CodeBlock {
  font-size: 1rem;
  border: 1px solid #e8e8e8;
  background: #fff;
  padding: 8px 12px;
}

.CodeBlock code {
  background: transparent;
}

.Canvases {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 8px 12px;
}

.Starter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
}

.Description {
  font-size: calc(14rem / 16);
  line-height: calc(20 / 14);
  text-align: center;
  text-wrap: balance;
}

.Description:last-of-type {
  margin-bottom: 24px;
}

.Quantizer :global(.rcp-saturation) {
  border-radius: 0;
}

.Quantizer :global(.rcp-field-label) {
  text-transform: lowercase;
  font-style: italic;
}

.QuantizeColor {
  flex: 1 0 auto;
  width: 160px;
  height: 60px;
}

.PickerContainer {
  flex: 1 1 auto;
  margin: 12px 0 0 0;
}

.QuantizeOutput {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 100%;
}

.Tip {
  position: relative;
  font-style: italic;
  justify-self: center;
  text-align: center;
  font-size: 1rem;
  line-height: calc(22 / 16);
  color: var(--pink-400);
}

.DownArrow {
  margin: 8px 0 0 0;
  font-size: 18px;
}

.ZoneName {
  display: block;
  font-size: calc(13rem / 16);
  line-height: calc(20 / 13);
}

.DropMessage {
  display: grid;
  place-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  pointer-events: none;
  font-size: 1rem;
  text-align: center;
  padding: 24px;
}

.Loading {
  display: grid;
  place-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  pointer-events: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.Spinner {
  animation: spin 3s linear infinite;
  font-size: 32px;
  color: #fff;
}

.DropRoot {
  cursor: pointer;
}

.Blocker {
  grid-area: 2 / 1 / 2 / 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 6px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
  color: #fff;
  font-size: calc(15rem / 16);
  line-height: calc(22 / 15);
  padding: 12px 24px;
}

.Blocker p {
  text-wrap: balance;
}

.UnblockButton {
  background: var(--pink-400);
  color: #fff;
  border: 0;
  padding: 8px 20px;
  border-radius: 5px;
}

@media (max-width: 479px) {
  .Starter {
    flex-direction: column;
    align-items: flex-start;
  }

  .CodeBlock {
    align-self: center;
  }

  .Description {
    text-align: left;
    text-wrap: wrap;
  }

  .Tip {
    font-size: calc(14rem / 16);
    line-height: calc(20 / 14);
  }
}
