.Container {
  flex: 0 0 auto;
  position: relative;
  padding: 20px 0 0 0;
  --outline-color: rgb(0, 136, 255);
}

.RangeTrack {
  position: relative;
  background-image: var(--color-gradient);
  background-repeat: repeat-y;
  background-size: 100% 100%;
  border-radius: 0;
  width: 256px;
  height: 24px;
  margin: 0;
  padding: 0;
}

.RangeTrack:focus {
  outline: 2px solid var(--outline-color);
}

.Indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  top: -19px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  overflow: visible;
  transform: translate(146px, -8px);
}

.Indicator svg {
  transform-origin: 50% 50%;
  transform: rotate(180deg);
  overflow: visible;
}

.Indicator:focus {
  outline: none;
}

.Indicator:focus svg {
  stroke-width: 2px;
  stroke: var(--outline-color);
}
